<%- include('parts/html-head')%>
<%- include('parts/navbar')%>

<div class="container">
    <h2><%= name %></h2>
    <!-- 最簡單的一個樣板 -->
    <!-- 輸出一個變數 -->
</div>

<%- include('parts/scripts')%>
<%- include('parts/html-foot')%>